#visibleconsole, #visibleconsole * {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#visibleconsole {
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	width: 800px;
	height: 300px;
	font-family: Consolas, Monaco, "Courier New", Courier, monospace;
	color: 666;
	border: 1px solid red;
	white-space: pre;
	word-wrap: break-word;
	overflow: hidden;
	z-index: 9999;
	opacity: 0.8;
}

#visibleconsoleheader {
	width: 100%;
	height: 30px;
	background: gray;
	z-index: 9999;
}

#visibleconsolecontainer, #visibleconsoleinner {
	width: 100%;
	height: 100%;
}

#visibleconsoleoutput {
	width: 100%;
	height: 270px;
	overflow: scroll;
	-webkit-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	-o-user-select: text;
	user-select: text;
}

#visibleconsoleoutput::-webkit-scrollbar {
	-webkit-appearance: none;
	width: 7px;
}
#visibleconsoleoutput::-webkit-scrollbar-thumb {
	border-radius: 4px;
	background-color: rgba(0,0,0,.5);
	-webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
	-moz-box-shadow: 0 0 1px rgba(255,255,255,.5);
	box-shadow: 0 0 1px rgba(255,255,255,.5);
}

#visibleconsoleoutput::-webkit-scrollbar-track-piece:vertical:start {
	margin-top: 5px;
}
#visibleconsoleoutput::-webkit-scrollbar-track-piece:vertical:end {
	margin-bottom: 25px;
}

#visibleconsolehandle {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 20px;
	height: 20px;
	z-index: 9999;
}

